# EditorConfig helps maintain consistent coding styles across different editors.
# https://EditorConfig.org

# Set as the root of the project.
root = true

[*]
# General settings for all file types.
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Override for Terraform files to ensure 2-space indentation,
# matching the 'terraform fmt' standard.
[*.{tf,tfvars}]
tab_width = 4

[*.md]
# Don't trim trailing whitespace for Markdown files, as it can affect rendering.
trim_trailing_whitespace = false
